.dashboard {

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .texts {

        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        gap: 50px;

        /* .logo {
            display: flex;
            align-items: center;
            gap: 20px;
            opacity: 0.5;

            svg {
                width: 8rem;
                height: 6rem;
            }
        } */

        .options {

            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            opacity: 0.8;

            .option {
                flex: 1;
                height: 100%;
                display: flex;                
                flex-direction: column;
                gap: 10px;
                font-weight: 300;
                font-size: 14px;
                padding: 20px;
                border: 1px solid #555;
                border-radius: 20px;
                

                img {
                    width: 5rem;
                    height: 5rem;
                    object-fit: cover;
                }
            }

            .option:hover {
                cursor: pointer;
                background-color:rgba(112, 72, 222, 0.1);
            }

        }
    }

    .formContainer {
        margin-top: auto;
        width: 50%;
        background-color: #2c2937;
        border-radius: 20px;
        display: flex;

        form {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            margin-bottom: 10px;

            input {
                flex: 1;
                padding: 20px;
                background-color: transparent;
                border: none;
                outline: none;
                color: #ececec;
                

            }
            button {
                background-color: #605e68;
                border-radius: 50%;
                border: none;
                cursor: pointer;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 15px;

            }

            button:hover {
                background-color:rgb(125, 100, 226);
                opacity: 0.8;
            }

            button:active {
                background-color:rgb(226, 129, 100);
                opacity: 0.8;
            }

            img {
                width: 16px;
                height: 16px;
            }
        }
    }

}